body {
		background-color: #e3e2db;
}

#about, #portfolio, #contacto {
    padding: 55px;
}

#about, #contacto {
			background-color: plum;
		}
#portfolio {
			background-color: #fff6d5;
		}
#foot, #f1 {
			background-color: #a02c89;
}

#foot {
    color: #000;
    padding-top: 10px;
}

#f1 {
    color: #ff80e5;
	padding-left: 15px;
    padding-top: 5px;
}

.thumbnail {
			margin: 5px;
		}

.portfolio-img {
      margin: 20px auto;
		  width: 90%;
}

#formulario-contacto {
  padding-left: 5%;
}

#quote {
  padding-top: 3%;
}

.espaciar {
  padding-bottom: 20px;
}

/* quise poner .top-nav li a y no funciona, también había un problema porque en el js manipulaba el li y no el li a */
/* antes con .navbar-default .navbar-nav li a funcionaba, se aplicaban los estilos que definí acá, pero si le saco a entonces no, usa unos estilos predeterminados que no sé cómo sobreescribir*/

.navbar-default .navbar-nav li a{
    color: beige;
    /* background-color: #ddafe9;
    border: 1px solid #ddafe9;*/
}

.navbar-default .navbar-nav li.active a{
    background-color: beige;
    color: #a02c89;
    border: 1px solid beige;
} 

/*
#navAbout.active, #navPortfolio.active, #navContact.active {
    background-color: beige;
    color: #a02c89;
    border: 1px solid beige;
}
*/

/* from an article of Carol Skelly: Bootstrap Equal Height Columns */
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

