body {
      background-color: #e3e2db;
}

.container {
  box-shadow: -1px 5px 5px 5px #888888; 
}

#about, #portfolio, #contacto {
     padding: 75px;
}

#about, #contacto {
			background-color: plum;
		}

#portfolio {
			background-color: #fff6d5;
		}

#contacto {
			background-color: plum;
		}

#foot, #f1 {
			background-color: #a02c89;
		}

#foot {
    color: #000;
    padding-top: 10px;
}

#f1 {
      color: #ff80e5;
			padding-left: 15px;
      padding-top: 5px;
}

.espaciar {
  padding-bottom: 20px;
}

.thumbnail {
			margin: 5px;
		}
		.portfolio-img {
      margin: 20px auto;
		  width: 90%;
		}
#formulario-contacto {
  padding-left: 5%;
}

#about p {
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
}

#quote {
  padding-top: 3%;
  font-family: 'Amatic SC', cursive;
  font-size: 48px;
}
blockquote footer {
  font-size: 20px;
  text-align: right;
}

h2 {
  font-family: 'Abril Fatface', cursive;
}

.navbar-default .navbar-nav li a {
    color: beige;
    //background-color: #ddafe9;
    //border: 1px solid #ddafe9;
}

.navbar-default .navbar-nav li.active a {
    background-color: beige;
    color: #a02c89;
    border: 1px solid beige;
}

.nav li a {
  display: inline-block;
}
/* from an article of Carol Skelly: Bootstrap Equal Height Columns 
https://medium.com/wdstack/bootstrap-equal-height-columns-d07bc934eb27
*/
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

