		body {
			padding-top: 55px;		
		}
    #about {
			background-color: plum;
		}
		#portfolio {
			background-color: palegreen;
		}
		#contacto {
			background-color: plum;
		}
		#sec5 {
			background-color:  palegreen;
		}		
		#foot {
			background-color: orchid;
		}
		#f1 {
			padding-left: 15px;
			background-color: orchid;
		}
		.thumbnail {
			margin: 5px;
		}
		.portfolio-img {
		width: 90%;
		}
#formulario-contacto {
  padding-left: 65px;
}